.button {
    padding: 0.75rem 1.5rem;
    background: linear-gradient(135deg, #181b27, #b4a9c0);
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s;
    width: 100%;
    margin-bottom: 0.75rem;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    text-transform: uppercase;
    letter-spacing: 0.025em;
  }
  
  .button-primary {
    background-image: linear-gradient(to right, #1D976C 0%, #93F9B9  51%, #1D976C  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(52, 50, 50);            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }
  
  .button:hover {
    transform: translateY(-2px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    background-position: right center; 
    color: #000000;
    text-decoration: none;
  }
  .button-primary:hover{
    color: #000000;
  }
  
  .button:focus {
    outline: none;
  }